.dark-hover-fix:hover {
  background-color: rgb(70, 70, 70) !important;
  color: white !important;
}
.light-hover-fix:hover {
  background-color: #e9ecef !important;
  color: black;
}
nav {
  height: 57px;
}
#navbarSupportedContent {
  z-index: 100;
}

#ThemeButton {
  text-shadow: 0px 0px 18px rgba(0, 0, 0, 0.514);
}
#ThemeSelector:hover {
  cursor: pointer;
}
.nav-active-custom-primary {
  border-bottom: 2px solid blue !important;
}
.nav-active-custom-purple {
  border-bottom: 2px solid purple !important;
}
.nav-active-custom-pink {
  border-bottom: 2px solid pink !important;
}
.nav-active-custom-orange {
  border-bottom: 2px solid orange !important;
}
.nav-active-custom-light {
  border-bottom: 2px solid white !important;
}
