/*my Buttons for themes */
.btn-orange {
  background-color: orange !important;
  color: white;
}
.btn-pink {
  background-color: rgb(255, 0, 200) !important;
  color: white;
}

.btn-purple {
  background-color: rgb(196, 68, 255) !important;
  color: white;
}

.btn-orange:hover {
  background-color: rgb(231, 150, 0) !important;
  color: white;
  transition: 0.3s;
}
.btn-pink:hover {
  background-color: rgb(221, 1, 173) !important;
  color: white;
  transition: 0.3s;
}

.btn-purple:hover {
  background-color: rgb(161, 32, 221) !important;
  color: white;
  transition: 0.3s;
}
/*btn styling ends*/

/*border dtyling for theme*/

.border-orange {
  border-color: orange !important;
}
.border-pink {
  border-color: rgba(255, 0, 200, 0.7) !important;
}

.border-purple {
  border-color: rgb(196, 68, 255) !important;
}

/*border styling ends*/

/*bg colors*/
.bg-purple {
  background-color: rgba(196, 68, 255, 0.103);
}
